.about {
	display: grid;
	grid-template-rows: 1fr 10%;
  	grid-template-columns: 1fr 40%;
  	grid-gap: 5px;
	grid-template-areas:
	"about-statistic about-text"
	"about-statistic about-button";
}

.about > div {
	padding: 10px;
}

#about-statistic { 
	grid-area: about-statistic;
	display: grid;
	grid-template-rows: repeat(3 1fr);
  	grid-template-columns: repeat(2 1fr);
  	grid-gap: 5px;
	grid-template-areas:
	"statistic-item statistic-item"
	"statistic-item statistic-item"
	"statistic-item statistic-item";
}

#about-statistic > div {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0 3%;
	font-size: 18px;
	line-height: 24px;
	color: #414141;
}

#about-statistic > div > span {
	font-size: 56px;
	line-height: 36px; /* or 43% */
	color: #DA241C;
	margin-right: 10px;
}

#about-text { 
	grid-area: about-text;
	padding-top: 10%;
	font-size: 18px;
	line-height: 24px;
	color: #BBBBBB;
}

#about-button { grid-area: about-button;}

.more-red {
	border-color: #DA241C;
	color: #DA241C;
}

.more-red:hover {
	background-color: #DA241C;
	color: #fefefd;
}
