.about {
	display: flex;
	justify-content: space-between;
	padding-top:5%;
}

.statistic {
	width: 55%;
	display: flex;
 	flex-wrap: wrap;
  	align-items: flex-end;
}

.statistic > div {
	width: 50%;
	display: inline-flex;
	align-items: flex-end;
	padding: 0 40px 40px 0;
	font-size: 18px;
	line-height: 24px;
	color: #414141;
}

.statistic > div > span {
	font-size: 56px;
	line-height: 36px; /* or 43% */
	color: #DA241C;
	margin-right: 10px;
}

.about-details {
	width: 45%;
	margin-left: 7%;
	text-align: left;
}

.about-details > p, .botox-details > p {
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 24px;/* or 133% */
	color: #BBBBBB;
}

.more-red {
	border-color: #DA241C;
	color: #DA241C;
}

.more-red:hover {
	background-color: #DA241C;
	color: #fefefd;
}
