* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (max-width: 1152px)  {
	.container {
		width: 95%;
	}
	.phone {
		font-size: 0.9rem;
	}
	.footer-links {
		width: 90%;
	}
}	

/* Tablet version */
@media (max-width: 1024px) { 
	header {
		height: 150px;
	}
	main {
		padding-top: 150px;
	}
	header .container {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr) 15%;
		grid-template-areas:
		"logo logo signup burger"
		"contacts contacts contacts burger";
	}
	#burger { display: block; grid-area: burger;}
	#social, #menu { display: none; }
	#contacts > div {margin-right: 7%;  }

	header .container > div {
		justify-content: center;
	}

	.about {
		grid-template-rows: 4fr 1.5fr 0.3fr;
		grid-template-columns: 1fr;
		grid-template-areas:
		"about-statistic"
		"about-text"
		"about-button";
	}

	#about-statistic {
		width: 70%;
		margin: 0 auto;
	}
	#about-statistic > div {
		justify-content: flex-start;
		margin: 20px 0;
	}

	#about-text { 
		padding-top: 0;
	}

	#about-statistic > div > span {
		font-size: 2.5em;
	}

	#about-statistic > div, #about-text { 
		font-size: 1em;
	}

	#service {
		background-image: none;
	}

	.botox-details {
		width: 100%;
		margin-left: 0;
		margin: 0 20px;
	}

	footer .container {
		grid-template-rows: repeat(5 1fr);
		grid-template-columns: 270px 1fr 5%;
		grid-template-areas:
		"logo-footer links-footer arrowup-footer"
		"contacts-footer links-footer arrowup-footer"
		"socials-footer links-footer arrowup-footer"
		"button-footer button-footer button-footer"
		"copyright copyright copyright";
	}

	.more-red {
		width: 100%;
		background: #DA241C;
		color: #fefefd;
	}

	.more-red:hover {
		background: #fefefd;
		color: #DA241C;
	}


}

@media (max-width: 768px) {


}

@media (max-width: 560px) {



}
