@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #FEFEFD;
	position: relative;
}

div, p, span, a, i, button, li, h1, h2, h3, h4, h5, h6 {
	font-family: 'ProximaNovaRegular';
	font-weight: normal;
}

.container {
	width: 1171px;
	margin: 0 auto;
}

header {
	background: white;
	width: 100%;
	height: 100px;
}

header > div {
	height: 100px;
	display: flex;
	align-items: center;
}

.menu {
	width: 100%;
	margin-left: 30px;
}

.menu-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}

.phone {
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;/* identical to box height */
	color: #414141;
}

.address {
	font-size: 14px;
	line-height: 17px;
	color: #BBBBBB;
}

.social-header {
	display: block;
}

.socials, .socials-mob {
	width: 170px;
	display: flex; 
	justify-content: space-between;
	padding-top: 10px;
}

.socials a i,
 .socials-mob a i{
	width: 26px;
	height: 26px;
	color: #FF948F;
	margin: 0 5px;
	text-decoration: none;
	text-align: center;
}

.socials a i:hover, 
 .socials-mob a i:hover {
	cursor: pointer;
}

button {
	padding: 8px 25px;
	background: transparent;
	border: solid 1px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 19px;/* identical to box height */
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
}

.signup {
	background-color: #DA241C;
	border-color: #DA241C;
	color: #FEFEFD;
}

.signup:hover {
	background: transparent;
	color: #DA241C;
}

nav {
	display: flex;
	justify-content: space-between;
}


nav > div > a {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;/* identical to box height */
	color: #414141;
	text-decoration: none;
}

nav > div > a:hover {
	color: #DA241C;
}

nav > div > a:active{
	color: #DA241C;
}

nav > div > svg {
	margin-left: 3px;
	margin-bottom: 1px;
}

nav > div:hover > svg {
	transition: 1s;
	transform: rotate(180deg);
}

nav > div:hover > svg path {
	stroke: #DA241C;
	
}

.submenu {
	display: none;
	justify-content: space-around;
	align-items: flex-start;
	position: absolute;
	z-index: 10;
	top: 85px;
	left: 0;
	right: 0;
	width: 100%;
	transition: all ease 2s;
	background: #fefefd;
	padding: 50px 100px 120px 100px;
}

.menu-item:hover .submenu {
	display: flex;
}

.submenu ul li {
	list-style: none;
	padding: 6px 0;
}

.submenu ul li a {
	font-size: 16px;
	line-height: 19px;
	color: #414141;
	text-decoration: none;
}

.submenu ul li a:hover {
	color: #da241c;
}

.submenu-category-list li a,
 .submenu-category {
	padding: 10px 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 27px;
	color: #414141;
	text-decoration: none;
}

.sub-indent {
	margin-bottom: 20px;
}

.submenu-category-list li a:hover, 
 .submenu-category:hover {
	color: #da241c;
}

.more-menu {
	display: flex;
	align-items: flex-end;
	height: 75px;
}

.menu-tablet, .submenu-tablet {
	display: none;
}

section {
	padding: 50px 0;
}

#items, #stock, #team, footer {
	background-color: #F5F5F5;
}

#items {
	display: flex;
	height: 160px;
}

#items > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 0 60px;
}

#items > div > button {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 15%;
	height: 128px;
	border: solid 1px #DA241C;
	border-radius: 15px;
	background-color: #F5F5F5;
	padding: 15px 15px 0;
	font-weight: 600;
	font-size: 16px;
	color: #DA241C;
}

#items > div > button > p {
	width: 100%;
	height: 50%;
	margin-bottom: 5px;
}

#items > div > button:hover {
	background-color: #DA241C;
	color: #FEFEFD;
}

.laser p { background: url(../img/service-buttons/laser.svg) center center no-repeat;}
.laser:hover p { background-image: url(../img/service-buttons/laser_a.svg); }
.barber p { background: url(../img/service-buttons/barber.svg) center center no-repeat;}
.barber:hover p { background-image: url(../img/service-buttons/barber_a.svg); }
.botox p { background: url(../img/service-buttons/botox.svg) center center no-repeat;}
.botox:hover p { background-image: url(../img/service-buttons/botox_a.svg); }
.one-hair p { background: url(../img/service-buttons/one-hair.svg) center center no-repeat;}
.one-hair:hover p { background-image: url(../img/service-buttons/one-hair_a.svg); }
.body-care p { background: url(../img/service-buttons/body-care.svg) center center no-repeat;}
.body-care:hover p { background-image: url(../img/service-buttons/body-care_a.svg); }
.veins p { background: url(../img/service-buttons/veins.svg) center center no-repeat;}
.veins:hover p { background-image: url(../img/service-buttons/veins_a.svg); }

.items-tablet {
		display: none;
	}

#slider-main {
	height: 540px;   
    left: 0;
    right: 0;
    background: url(../pic/slider1.png) bottom left no-repeat;
    background-size: cover;
}

h1 {
	width: 70%;
	font-weight: normal;
	font-size: 64px;
	line-height: 78px; /* identical to box height */
	color: #111111;
	margin-top: 100px;
}

.h1-desciption {
	display: block;
	width: 70%;
	font-size: 22px;
	line-height: 32px; /* or 145% */
	color: #414141;
	margin-top: 20px;
	margin-bottom: 60px;
}

#details {
	padding-right: 70px;
	font-size: 16px;
	line-height: 19px; /* identical to box height */
	color: #DA241C;
	text-decoration: none;
}

#details svg {
	padding-left: 10px;
	width: 60px;
	height: 10px;
}

#details:hover {
	color: #414141;
}

#details:hover svg path {
	fill: #414141;
}

h2 {
	padding-bottom: 15px;
	font-weight: normal;
	font-size: 56px;
	line-height: 68px; /* identical to box height */
	color: #111111;
}

h2::after {
	content: '';
	display: inline-block;
	width: 130px;
	height: 0;
	border: solid 1px #DA241C;
	vertical-align: middle;
	margin-left: 15px;
}

.h2-description {
	width: 35%;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px; /* or 120% */
	color: #414141;
}

.about {
	display: flex;
	justify-content: space-between;
	padding-top:5%;
}

.statistic {
	width: 55%;
	display: flex;
 	flex-wrap: wrap;
  	align-items: flex-end;
}

.statistic > div {
	width: 50%;
	display: inline-flex;
	align-items: flex-end;
	padding: 0 40px 40px 0;
	font-size: 18px;
	line-height: 24px;
	color: #414141;
}

.statistic > div > span {
	font-size: 56px;
	line-height: 36px; /* or 43% */
	color: #DA241C;
	margin-right: 10px;
}

.about-details {
	width: 45%;
	margin-left: 7%;
	text-align: left;
}

.about-details > p, .botox-details > p {
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 24px;/* or 133% */
	color: #BBBBBB;
}

.about-details > button,
 .botox-details > button,
  .footer-links > button,
   .slider-team figcaption button {
	border-color: #DA241C;
	color: #DA241C;
}

.about-details > button:hover,
 .botox-details > button:hover,
  .footer-links > button:hover,
   .slider-team figcaption button:hover {
	background-color: #DA241C;
	color: #fefefd;
}

.gallery-menu {
	text-align: center;
}

.gallery-menu > a {
	font-size: 16px;
	line-height: 24px;
	color: #BBBBBB;
	text-decoration: none;
	margin: 10px 20px;
}

.gallery-menu > a:active {
	color: #DA241C;
}

.gallery-menu > a:hover {
	color: #FF948F;
}


#service {
	background: url(../img/linline-pink.svg) bottom 14vh right 5px no-repeat;
}

h3 {
	margin-bottom: 3vh;
	font-size: 32px;
	line-height: 24px;
	color: #DA241C;
}

.service-img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
	height: 30vh;
}

.service-img > div {
	width: 170px;
	height: 192px;
	overflow: hidden;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.service-img > div:nth-child(1) { background: url(../pic/service/service1.png) no-repeat; background-size: cover;}
.service-img > div:nth-child(2) { background: url(../pic/service/service2.png) no-repeat; background-size: cover;}
.service-img > div:nth-child(3) { background: url(../pic/service/service3.png) no-repeat; background-size: cover;}
.service-img > div:nth-child(4) { background: url(../pic/service/service4.png) no-repeat; background-size: cover;}
.service-img > div:nth-child(5) { background: url(../pic/service/service5.png) no-repeat; background-size: cover;}
.service-img > div:nth-child(6) { background: url(../pic/service/service6.png) no-repeat; background-size: cover;}

.service-img > div > a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	color: #414141;
}

.service-img > div:hover > a:hover {
	transition: 1s;
	background-image: linear-gradient(0deg, rgba(218, 36, 28, 0.3), rgba(218, 36, 28, 0.3));
	color: #FEFEFD;
}

.botox-details {
	width: 60%;
	margin-top: 7vh;
	margin-left: 16%;
}

.botox-items {
	margin-bottom: 5vh;
	column-count: 2;
}

.botox-items > li {
	background: url(../img/service-rect.svg) 6px 10px no-repeat;
	list-style: none;
	padding: 0 20px 15px 24px;
}

.botox-items > li > a,
 .footer-links > ul > li > a {
	font-size: 18px;
	line-height: 24px;
	color: #414141;
	text-decoration: none;
}

.botox-items > li > a:hover,
 .footer-links > ul > li > a:hover {
	color: #DA241C;
}


.stock-slider, .slider-feedback > div {
	display: flex;
	justify-content: space-between;
	margin: 40px auto;
}

.stock-slider > figure {
	width: 370px;
	position: relative;
}

.stock-slider figure div {
	position: absolute;
	width: 100%;
	height: 360px;
	background-image: linear-gradient(0deg, rgba(218, 36, 28, 0.3), rgba(218, 36, 28, 0.3));
	opacity: 0;
}

.stock-slider figure span{
	position: absolute;
	padding: 40px 0 0 40px;
	font-size: 32px;
	line-height: 16px;
	color: #DA241C;
	text-decoration: none;
	opacity: 1;	
}

.stock-slider figure img{
	width: 100%;
	height: 360px;
	margin-bottom: 30px;
}

h4 {
	font-size: 32px;
	line-height: 24px;
	color: #414141;
}

h4:hover {
	color: #DA241C;
}

.stock-slider figure:hover div,
 .stock-slider figure:hover figcaption h4{
	transition: 1s;
	opacity: 1;
	color: #DA241C;
}

.stock-slider figure:hover span {
	color: #fff;
}

.stock-slider figcaption p {
	margin-top: 15px;
	font-size: 18px;
	line-height: 24px;
	color: #414141;	
}

#stock > div > button,
 #feedback > div > button,
  #news > div > button {
	display: block;
	margin: 20px auto;
	background-color: transparent;
	color: #888888;
	border: solid 1px #888888;
	box-sizing: border-box;
	border-radius: 4px;	
	padding: 8px 25px;
	font-size: 16px;
	line-height: 19px;/* identical to box height */
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}

#stock > div > button:hover,
 #feedback > div > button:hover,
  #news > div > button:hover {
	border: solid 1px #FF948F;
	background-color: #FF948F;
	color: #fefefd;
}

.slider-dots ul {
	padding: 20px 0;
	text-align: center;
}

.slider-dots ul li{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	border: solid 1px #bbb;
	border-radius: 50%;
	background: #bbb;
}

.slider-dots ul li:hover {
	background: #FF948F;
	border: #FF948F;
}


.slider-feedback figure {
	width: 30%;
	margin: 0 15px;
}

.slider-feedback figure img {
	margin-bottom: 20px;
	width: 60%;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.slider-feedback figcaption > p:nth-child(2) {
	margin-top: 7px;
	margin-bottom: 15px;
}

.person-name {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: #414141;
}

.person-status {
	font-size: 13px;
	line-height: 16px;
	color: #414141;
}

.person-feedback {
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	color: #DA241C;
}

#subscribe {
	height: 450px;
	background: url(../pic/subscribe-bg.png) bottom right ;
	background-size: cover;
}

#subscribe > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.subscribe-title {
	font-size: 56px;
	line-height: 68px;
	color: #FFFFFF;
}

.subscribe-details {
	width: 50%;
	font-size: 20px;
	line-height: 24px;
	color: #414141;
}

input {
	width: 40%;
	margin-top: 30px;
	padding: 5px 0;
	background: none;
	border: 0;
	border-bottom: solid 1px #fff;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	outline: none;
}

input:focus {
	content: '';
}

form > button {
	display: block;
	margin: 30px 0;
	padding: 8px 25px;
	background-color: #FFF;
	font-size: 16px;
	line-height: 19px;/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;
	color: #414141;
	border: 1px solid #FF948F;
	box-sizing: border-box;
	border-radius: 4px;	
	cursor: pointer;	
}

form > button:hover {
	background-color: #FF948F;
	color: #fff;
}

footer  {
	height: 384px;
	padding: 40px 0;
	position: relative;
}

.slider-team {
	display: flex;
	align-items: center;
}


.slider-team figure {
	width: 700px;
	display: flex;
	justify-content: flex-start;
}

.slider-team figcaption {
	margin-top: 2%;
	margin-left: 5%;
}

.doctor-name {
	padding-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	color: #414141;
}

.doctor-sphere {
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 16px;
	color: #888888;
}

.doctor-status {
	padding-bottom: 30px;
	font-size: 18px;
	line-height: 24px;
	color: #414141;
}


.news {
	position: relative;
	display: flex;
	justify-content: flex-start;
	width: 85%;
	height: 480px;
	margin: 40px auto;
}

.news > div {
	position: absolute;
	width: 470px;
	height: 100%;
	background-image: linear-gradient(0deg, rgba(218, 36, 28, 0.3), rgba(218, 36, 28, 0.3));
	opacity: 0.01;
}

.news:hover > div {
	opacity: 1;
	transition: 1s;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.news:hover .news-title {
	color: #DA241C;
}

.news:nth-child(3) {
	flex-direction: row-reverse;
}

.news:nth-child(2) > figcaption {
	margin-left: 5%;
}

.news:nth-child(3) > figcaption {
	margin-right: 5%;
}

.news-title {
	padding: 15px 0;
	font-size: 32px;
	font-weight: 600;
	line-height: 32px;
	color: #111111;
	text-transform: uppercase;
}

.news-details {
	font-size: 18px;
	line-height: 24px;
	color: #414141;
}

.news-date {
	padding: 30px 0;
	font-size: 16px;
	line-height: 32px;
	color: #FFCFCD;
}

.footer-desktop {
	display: flex;
}

.footer-tablet, .footer-mob {
	display: none;
}

.contacts {
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.contacts > div, .logo {
	margin-bottom: 20px;
}

.width50p {
 	width: 50%;
}

.footer-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}

.footer-block-top {
	width: 100%;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
}

.footer-links {
	width: 50%;
	display: flex;
	align-items: center;
}

.footer-links > ul {
	width: 100%;
	list-style: none;
	padding: 30px 0;
	column-count: 2;
}

.footer-links > ul > li {
	padding: 7px 3px;
}

.footer-button > button {
	background: #F5F5F5;
}

.footer-button > button:hover {
	background: #DA241C;
	color: #F5F5F5;
}

.copyright {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	line-height: 16px;
	color: #888888;
	margin: 20px auto;
}

.copyright1 { margin-right: 20px;}
.copyright2 {margin-left: 20px;}



